<h1><img class="u-logo" src="../launch/ulogo.png"> webuntumac</h1>
<h3>Ubuntu 4.4.15-moby 64-bit accessed from the browser, on your mac.</h3>
<p>Navigate to localhost. Use the left navigation. The changes you make on the webuntumac host will be persistant untill you remove the image or stop the Docker container. For more information, navigate to the README.</p>
<p><strong>Browsers supported:</strong> Firefox 3.5+, Chrome any, Safari 3.2+, Opera 9.5+</p>
<br>
<p>Created by Matthew L. Abrasax <a href="https://github.com/mattinclude">GitHub</a>.</p>
